$brand-primary-color: red;
$brand-secondary-color: green;
$brand-alt-color: blue;
$brand-border-color: yellow;
$brand-transparent-background-color: rgba(0, 0, 0, 0);
$brand-flatblack-background-color: #303030;


$text-primary-color: #D5D8DC;
$text-secondary-color: #3498DB;
$text-h3-color: #fff;
